@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');

:root{
    /* Tema 1*/
    --very-dark-desaturated-blue-main: hsl(222, 26%, 31%);
    --very-dark-desaturated-blue-toggle: hsl(223, 31%, 20%);
    --very-dark-desaturated-blue-screen: hsl(224, 36%, 15%);
    --desaturated-dark-blue-key: hsl(225, 21%, 49%);
    --desaturated-dark-blue-shadow: hsl(224, 28%, 35%);
    
    --red-key: hsl(6, 63%, 50%);
    --dark-red-shadow: hsl(6, 70%, 34%);
    
    --light-grayish-orange-key: hsl(30, 25%, 89%);
    --grayish-orange-shadow: hsl(28, 16%, 65%);

    --very-dark-grayish-blue-text: hsl(221, 14%, 31%);
    --white-text: hsl(0, 0%, 100%);

    /* Tema 2*/
    --light-gray-main: hsl(0, 0%, 90%);
    --grayish-red-toggle: hsl(0, 5%, 81%);
    --very-light-gray-screen: hsl(0, 0%, 93%);

    --dark-moderate-cyan-key: hsl(185, 42%, 37%);
    --very-dark-cyan-shadow: hsl(185, 58%, 25%);

    --orang-key: hsl(25, 98%, 40%);
    --dark-orange-shadow: hsl(25, 99%, 27%);

    --light-grayish-yellow-key: hsl(45, 7%, 89%);
    --dark-grayish-orange-shadow: hsl(35, 11%, 61%);

    --very-dark-grayish-yellow-text: hsl(60, 10%, 19%);

    /* Tema 3*/

    --very-dark-violet-main: hsl(268, 75%, 9%);
    --very-dark-violet-toggle-screen: hsl(268, 71%, 12%);

    --dark-violet-key: hsl(281, 89%, 26%);
    --vivid-magenta-shadow: hsl(285, 91%, 52%);

    --pure-cyan-key: hsl(176, 100%, 44%);
    --soft-cyan-shadow: hsl(177, 92%, 70%);

    --very-dark-violet-key: hsl(268, 47%, 21%);
    --dark-magenta-shadow: hsl(290, 70%, 36%);

    --light-yellow-text: hsl(52, 100%, 62%);
    --very-dark-blue-text: hsl(198, 20%, 13%);

}

.principal {
    padding: 20px;
    font-family: 'Red Hat Display', sans-serif;
}

.prin1 {
    background-color: var(--very-dark-desaturated-blue-main);
    color: white;
}

.prin2 {
    background-color: var(--light-gray-main);
    color: var(--very-dark-grayish-yellow-text);
}

.prin3 {
    background-color: var(--very-dark-violet-main);
    color: var(--light-yellow-text);
}

.container {
    max-width: 700px;
    margin: auto;
}

@media screen and (min-width: 700px) {
    .container{
        margin-top: 50px;
    }

}

.cabecalho {
    display: flex;
    height: 70px;
    justify-content: space-between;
}

.cabecalho-div{
    display: grid;
    grid-template-columns: auto 1fr;
}

.header-tema{
    padding-right: 25px;
    padding-top: 20px;
}

.header-botao{
    font-size: 14px;
    padding-left: 8px;
    padding-bottom: 4px;
}


.botao-tema {
    height: 22px;
    width: 65px;
    border-radius: 14px;
}

.bt1{
    background-color: var(--very-dark-desaturated-blue-toggle);
}

.bt2{
    background-color: var(--grayish-red-toggle);
}

.bt3{
    background-color: var(--very-dark-violet-toggle-screen);
}

.botao-tema::after {
    position: relative;
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    left: 0;
  }

.bt1::after {
    background: var(--red-key);
    transition: 1s;
}

.bt2::after {
    background: var(--orang-key);
    left: calc(50% - 8px);
    transition: .5s;
}

.bt3::after {
    background: var(--pure-cyan-key);
    left: calc(100% - 8px);
    transition: .5s;
}

.titulo-calc{
    padding-top: 7px;
    font-size: 32px;
    font-family: Calibri;
    font-weight: 700;
}

.tela {
    display: flex;
    justify-content: flex-end;
    font-size: 32px;
    font-weight: 700;  
    border-radius: 10px;
    height: 90px;
    margin-bottom: 20px;
    overflow-x: hidden;
}

.tela1{
    background-color: var(--very-dark-desaturated-blue-screen);
}

.tela2{
    background-color: var(--very-light-gray-screen);
}

.tela3{
    background-color: var(--very-dark-violet-toggle-screen);
}

.texto-tela {
    align-self: center;
    padding-right: 20px; 
}

.teclado{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "botao-sete botao-oito botao-nove botao-del"
    "botao-quatro botao-cinco botao-seis botao-soma"
    "botao-um botao-dois botao-tres botao-menos"
    "botao-ponto botao-zero botao-divide botao-multiplica"
    "botao-reset botao-reset botao-igual botao-igual"
    ;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
}    

.tecl1{
    background-color: var(--very-dark-desaturated-blue-toggle);
}

.tecl2{
    background-color: var(--grayish-red-toggle);
}

.tecl3{
    background-color: var(--very-dark-violet-toggle-screen);
}

@media screen and (min-width: 700px) {
    .tela{
        height: 120px;
        font-size: 55px;
    }

    .teclado {
        gap: 30px;
        padding: 30px;
    }

}

.botao {
    height: 70px;
    border-radius: 10px;
    font-size: 32px;
    font-weight: 700;
}

.b1 {
    background-color: var(--light-grayish-orange-key);
    box-shadow: 0px 5px 0px var(--grayish-orange-shadow);
    color: var(--very-dark-grayish-blue-text);
}

.b2 {
    background-color: var(--light-grayish-yellow-key);
    box-shadow: 0px 5px 0px var(--dark-grayish-orange-shadow);
    color:var(--very-dark-grayish-yellow-text);
}

.b3 {
    background-color: var(--very-dark-violet-key);
    box-shadow: 0px 5px 0px var(--dark-magenta-shadow);
    color: var(--light-yellow-text);
}

.botao-resEDel1 {
    background-color: var(--desaturated-dark-blue-key);
    box-shadow: 0px 5px 0px var(--desaturated-dark-blue-shadow);
    font-size: 20px;
}

.botao-resEDel2 {
    color: var(--white-text);
    background-color: var(--dark-moderate-cyan-key);
    box-shadow: 0px 5px 0px var(--very-dark-cyan-shadow);
    font-size: 20px;
}

.botao-resEDel3 {
    color: var(--white-text);
    background-color: var(--dark-violet-key);
    box-shadow: 0px 5px 0px var(--vivid-magenta-shadow);
    font-size: 20px;
}

.b-igual-1 {
    background-color: var(--red-key);
    box-shadow: 0px 5px 0px var(--dark-red-shadow);
    color: var(--white-text);
    font-weight: lighter;
}

.b-igual-2 {
    background-color: var(--orang-key);
    box-shadow: 0px 5px 0px var(--dark-orange-shadow);
    color: var(--white-text);
    font-weight: lighter;
}

.b-igual-3 {
    background-color: var(--pure-cyan-key);
    box-shadow: 0px 5px 0px var(--soft-cyan-shadow);
    color: var(--very-dark-blue-text);
    font-weight: lighter;
}

.attribution{
    color: var(--white-text);
    padding: 5vh 5px;
}



.botao-zero {
    grid-area: botao-zero;
}

.botao-um {
    grid-area: botao-um;
}

.botao-dois {
    grid-area: botao-dois;  
}

.botao-tres {
    grid-area: botao-tres;
}

.botao-quatro {
    grid-area: botao-quatro;
}

.botao-cinco {
    grid-area: botao-cinco;
}

.botao-seis {
    grid-area: botao-seis;
}

.botao-sete {
    grid-area: botao-sete;
}

.botao-oito {
    grid-area: botao-oito;
}

.botao-nove {
    grid-area: botao-nove;
}

.botao-ponto {
    grid-area: botao-ponto;
}

.botao-divide {
    grid-area: botao-divide;
}

.botao-multiplica {
    grid-area: botao-multiplica;
}

.botao-soma {
    grid-area: botao-soma;
}

.botao-menos {
    grid-area: botao-menos;
}

.botao-del {
    grid-area: botao-del;
}

.botao-igual {
    grid-area: botao-igual;
}

.botao-reset {
    grid-area: botao-reset;
}